<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.3.0" />
  <package id="IronPython" version="3.4.0-alpha1" />
  <package id="IronPython.StdLib" version="3.4.0-alpha1" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Memory" version="4.5.4" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" />
</packages>